[flake8]
count = True
exclude = .git,__pycache__
extend-ignore =
	E501,  # "line too long" already handled by black
	E266,  # too much "#" in a comment
	F821,  # undefined name "X", used for type hinting in python2
max-complexity = 10
max-line-length = 88
