black; python_version >= '3.6'
codecov
coverage
# Using different django versions, depending on python's version:
# 1. For python2: Installing django v1
# 2. For python3 with version under 3.6, Installing django v2 for python2
# 3. For python 3 with version higher than 3.6, Installing django v3.
django==1.*; python_version < '3'
django==2.*; python_version >= '3' and python_version < '3.6'
django==3.*; python_version >= '3.6'
djangorestframework
enum34; python_version < '3'
flake8
mock
pudb
pytest
pytest-cov
pytest-django
serpy
ujson
